---
layout: default
---


<div class="home-columns">
  <div class="column-left">
<div class="home">
  <h5><b>OVERVIEW</b></h5>
  <p> Took the Greyhound, began <a href="/regions/heartland/2025/06/08/finding-the-frontier.html">finding the frontier</a>.</p>
  <p> Discovered Workpads by <a href="workpads/2025/06/08/living-the-problems.html">living the problems</a> of the mobile sole proprietor.</p>
  <p>Pushed <a href="/workwarrior/2025/07/08/what-is-workwarrior.html">Workwarrior</a> to create a long-term solution for personal productivity.</p>
  <p> Began asking, '<a href="/systems/2025/06/08/what-goes-into-a-roman-road.html">What goes into a Roman road</a>'?</p>
  <p> Imagined a permanent home for tool makers and product pioneers, <a href="/babb/2025/06/08/started-building-babb.html">started building Babb</a>.</p>
  <p>Abundance is audible!</p>
  <hr><br>
  <p>Events? <br>
  <a href="https://t.me/peers8862">t.me/peers8862</a>
  <p>Babb?<br>
    jobs@babb.tel</p> 
  <p>Work?<br>
  <a href="https://hill-city.ca">hill-city.ca</a></p>
  </p>
</div>
</div>

 <div class="column-right">
  <h2><b><a href="/updates">Updates</a></b></h2>
  <ul>
    {% for post in site.posts limit:30 %}      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>

      </li>
    {% endfor %}
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

  </ul>

  </div>
</div>