---
layout: default
---


<div class="home-columns">
  <div class="column-left">
<div class="home">
  <h5><b>OVERVIEW</b></h5>
  <p>We are building Babb with open arms. If you are interested in the future of work and education, find computers and engineering interesting, and like to be around kids, please reach out and let's build the best company in the gosh darn galaxy.</p>
  <hr><br>
  <p>Events? <br>
  <a href="https://t.me/peers8862">t.me/peers8862</a>
  <p>Babb?<br>
    jobs@babb.tel</p> 
</div>
</div>

 <div class="column-right">
  <h2><b><a href="/updates">Updates</a></b></h2>
  <ul>
    {% for post in site.posts limit:30 %}      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>

      </li>
    {% endfor %}
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

  </ul>

  </div>
</div>